@model MVC_Stock.Models.Entity.TBLSATISLAR 

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>Satış Ekranına Hoşgeldiniz !</h2>

<button type="button" class="btn btn-info" data-toggle="modal" data-target="#Modal1">
    SATIŞ YAP
</button>

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="model-title">Satış Yapma Ekranı</h2>
            </div>
            <form method="post" action="/Satis/YeniSatis">
                <div class="modal-body">
                    <label>
                        ÜRÜN ADI
                    </label>
                    @Html.TextBoxFor(m => m.URUN, new { @class = "form-control" })
                    <br />

                    <label>
                        MÜŞTERİNİN ADI SOYADI
                    </label>
                    @Html.TextBoxFor(m => m.MUSTER, new { @class = "form-control" })
                    <br />

                    <label>
                        ADET
                    </label>
                    @Html.TextBoxFor(m => m.ADET, new { @class = "form-control" })
                    <br />

                    <label>
                        FİYAT
                    </label>
                    @Html.TextBoxFor(m => m.FIYAT, new { @class = "form-control" })
                    <br />

                    <button class="btn btn-info"> SATIŞ İŞLEMİNİ GERÇEKLEŞTİR </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Vazgeç</button>

                </div>
            </form>
        </div>
    </div>
</div>