
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>BU EKRAN PROJE HAKKINDA BİLGİLENDİRME EKRANIDIR</h2>

<p>Proje Hakkında Detaylı Bilgi İçin Tuşlayınız</p>

<button type="button" class="btn btn-info" data-toggle="modal" data-target="#Modal1"> 
    Yardım
 </button>

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="model-title">BİLGİLENDİRME</h2>
            </div>
          <p> <br /> Merhaba, Ben H.ONUR BURAL
            <br />Bu Proje Murat YÜCEDAĞ tarafından YouTube Üzerinden Gerçekleştirilen 50 Derste MVC Adlı Dersteki Projenin Geliştirilmiş Halidir.</p>
        </div>
    </div>
</div>